import { idObjectSchema, nameSchema, type z } from '@beenest/zod';

export const <%- propertyName  %>Object = {
  name: nameSchema,
};

export const <%- propertyName %>Fields = ['id', 'name'];

export const <%- propertyName  %>Schema = idObjectSchema.extend(<%- propertyName  %>Object )

export type <%- className %> = z.infer<typeof <%- propertyName  %>Schema>;
