import { createOrderBySchema, z } from '@beenest/zod';
import { <%- propertyName %>Fields } from './<%- fileName %>.js'; 

export const orderBy<%- className %>Schema = z
  .object({
    orderBy: createOrderBySchema(<%- propertyName %>Fields)
  })
  .partial();

export type Order<%- className %> = z.infer<typeof orderBy<%- className %>Schema>;
