import { createBooleanSchema, z } from '@beenest/zod';
import { <%- propertyName %>Fields } from './<%- fileName %>.js'; 

export const select<%- className %>FieldsSchema = z
  .object({
    select: createBooleanSchema(<%- propertyName %>Fields),
    omit: createBooleanSchema(<%- propertyName %>Fields),
  })
  .partial();

export type Select<%- className %>Fields = z.infer<typeof select<%- className %>FieldsSchema>;
