import { createBooleanSchema, z } from '@beenest/zod';

export const select<%- className %>FieldsSchema = z
  .object({
    select: createBooleanSchema(['id', ' name']),
    omit: createBooleanSchema(['id', ' name']),
  })
  .partial();

export type Select<%- className %>Fields = z.infer<typeof select<%- className %>FieldsSchema>;
